/*styles the header elements for all pages*/
header{
  width:100%;
  height: 5%;
  background-color: black;
}

.logo img
{
  height: 150px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo a
{
  height: 150px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#show_btn
{
  display: none;
}

#main_menu
{
  display: block;
}

#menu li{
  list-style-type: "none";
}

#menu
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu a
{
  color: white;
  text-decoration: none;
}

#menu img
{
	height: 20px;
	width: 20px;
}

#menu a:hover
{
  color: #f8de7e;
  text-decoration: underline;
}

/*styles the first image slider on the homepage*/
.image_slider
{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.img_slides img
{
  width: 100%;
  height: 100%;
}

.img_slides
{
  width: 100%;
  height: 100%;
}

/*styles the different blogs section on the homepage*/
.latest_blogs
{
	background-color: #f8de7e;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.latest_blogs img
{
	height: 300px;
	width: 300px;
}

.left_container
{
  padding-left: 5%;
}

.left_container h3
{
  margin-left: 35%;
  margin-right: 35%;
}

.left_container  h4
{
  margin-left: 35%;
  margin-right: 35%;
}

.left_container  p
{
  margin-left: 35%;
  margin-right: 35%;
}

.center_container
{
  padding-left: 5%;
  padding-right: 5%;
}

.center_container h3
{
  margin-left: 25%;
  margin-right: 30%;
}

.center_container h4
{
  margin-left: 35%;
  margin-right: 35%;
}

.center_container p
{
  margin-left: 35%;
  margin-right: 35%;
}

.right_container h3
{
  margin-left: 25%;
  margin-right: 35%;
}

.right_container h4
{
  margin-left: 35%;
  margin-right: 35%;
}

.right_container p
{
  margin-left: 35%;
  margin-right: 35%;
}



/* About page layout related styles */
.abt
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right_cont p
{
  margin-left: 5%;
  margin-right: 5%;
}

#abt_heading
{
  margin-left: 17%;
}


/* Contact page layout related styles */

.main_heading
{
  display: flex;
  margin-left: 17%;
}
.main_cont
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


/*styles the images for the blog page*/
.blogs img
{
	height: 300px;
	width: 300px;
}

.advertisement
{
	background: #f8de7e;
}


/*styles the blog page */

section
{
  width: 100%;
  background-color: #f8de7e;
  overflow: auto;
}

.blog_content_tech
{
  display: flex;
  flex-direction: column;
}

.blog_content_art
{
  display: flex;
  flex-direction: column;
}

.blog_content_supplies
{
  display: flex;
  flex-direction: column;
}
section img
{
  width: 500px;
  float: left;
}

section h3
{
  display: flex;
  flex-direction: row;
}



/*styles the second slideshow for the homepage*/
.artist_slider
{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.artist_slides img
{
  width: 100%;
  height: 100%;
}

.artist_slides
{
  width: 100%;
  height: 100%;
}

/*styles the footer for all pages*/
footer
{
  width: 100%;
  background-color: black;
}

.footer_nav
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_nav ul li
{
  list-style-type: none;
  display: inline;
}

.footer_nav a
{
  color: white;
  text-decoration: none;
}

.footer_nav a:hover
{
  color: #f8de7e;
  text-decoration: underline;
}

.socialmedia_buttons
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socialmedia_buttons img
{
	height: 20px;
	width: 20px;
}

.socialmedia_buttons ul li
{
	list-style-type: none;
    display: inline;
}

@media screen and (max-width:1000px)
{
  .latest_blogs
  {
  	background-color: #f8de7e;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left_container
  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .right_container
  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .center_container
  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .right_cont p
  {
    margin-left: 5%;
    margin-right: 5%;
  }

  /* About page */
  .abt
  {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .left_cont img
  {
    width: 100%;
  }

  /* Blog pages */

  section
  {
    width: 100%;
    background-color: #f8de7e;
  }

  .blog_content_tech
  {
    display: flex;
    flex-direction: column;
  }

  .blog_content_art
  {
    display: flex;
    flex-direction: column;
  }

  .blog_content_supplies
  {
    display: flex;
    flex-direction: column;
  }

  section img
  {
    width: 100%;
    float: none;
  }

}

@media only screen and (max-width: 500px) /*  Mobile mode */
{
  #show_btn
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #menu li{
    list-style-type: "none";
  }

  #main_menu
  {
    display: none;
  }

  #menu
  {
    display: flex;
    flex-direction: column;
  }

  #menu a
  {
    color: white;
    text-decoration: none;
  }

  #menu img
  {
  	height: 20px;
  	width: 20px;
  }

  #menu a:hover
  {
    color: #f8de7e;
    text-decoration: underline;
  }


  .image_slider
  {
    display: flex;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .img_slides img
  {
    width: 100%;
    height: 100%;
  }

  .img_slides
  {
    width: 100%;
    height: 100%;
  }

  .latest_blogs
  {
  	background-color: #f8de7e;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
  }

  .left_container
  {
    display: flex;
    flex-direction: column;
  }

  .right_container
  {
    display: flex;
    flex-direction: column;
  }

  .center_container
  {
    display: flex;
    flex-direction: column;
  }

  .artist_slider
  {
    display: flex;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .artist_slides img
  {
    width: 100%;
    height: 100%;
  }

  .artist_slides
  {
    width: 100%;
    height: 100%;
  }

  /* About page layout related styles */
  .abt
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .left_cont img
  {
    width: 100%;
  }

}

@media screen and (min-width: 501px) /*  Desktop mode */
{
#main_menu{
  display: block !important;
}
}
